# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
/.idea/
/*.iml

/vendor/
/vendor-bin/*/vendor/

/.php-cs-fixer.cache
/tests/.phpunit.cache

/node_modules/
/js/
/css/
